.container
	.footer-content
		.logo-wrapper
			a.logo-footer
				img(alt='Rodin', src='/images/rodinLogo.svg')
			ul.pull-right.social-list
				li
					a(href='https://www.facebook.com/rodinvr/', target='_blank')
						i.fa.fa-facebook-official
					a(href='https://twitter.com/rodinvr', target='_blank')
						i.fa.fa-twitter
					a(href='https://www.youtube.com/channel/UCIctFroo3prDx_7OSk6DJ1Q', target='_blank')
						i.fa.fa-youtube-play
					a(href='https://www.linkedin.com/company-beta/17931160/', target='_blank')
						i.fa.fa-linkedin-square
		.footer-menu-wrapper
			p.copyright.text-center Copyright © Rodin Corporation. All rights reserved.
			//ul.footer-menu-list
			//	li
			//		a(href="https://rodin.io/tutorials") Documentation
			//	li
			//		a(href='') Blog
				
