@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,500,700");

@font-face {
  font-family: 'SF UI Display';
  src: url("../fonts/SF/SFUIDisplay-Semibold.eot");
  src: local("SF UI Display Semibold"), local("SFUIDisplay-Semibold"), url("../fonts/SF/SFUIDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SF/SFUIDisplay-Semibold.woff") format("woff"), url("../fonts/SF/SFUIDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'SF UI Display';
  src: url("../fonts/SF/SFUIDisplay-Medium.eot");
  src: local("SF UI Display Medium"), local("SFUIDisplay-Medium"), url("../fonts/SF/SFUIDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SF/SFUIDisplay-Medium.woff") format("woff"), url("../fonts/SF/SFUIDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

