<div class="page__wrapper">

	<div class="main-container">
		<div class="section-dashboard-action">
			<div class="btn-action-wrapper clearfix">
				<div class="form-wrapper pull-right search-form">
					<div class="row">
						<div class="form-group pass-group" custom-input>
							<input type="text" class="form-control dashboard-search" placeholder="" data-ng-model="$ctrl.queryString" data-ng-change="$ctrl.search()">
							<label class="control-label float-label">Url, Description or project name</label>
							<i class="icon icon-search search"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="dashboard-content row">

            <div class="col-md-4">
                <ul>
                    <li ng-repeat="user in $ctrl.users">
                        <a ui-sref="app.user({username:'{{user.username}}'})">{{user.email}} ({{user.username}})</a>
                    </li>
                </ul>
            </div>

		</div>
	</div>

	<div class="loader" data-ng-if="$ctrl.showLoader"></div>

</div>
